<h2>Paises</h2>
<hr />
<ul class="list-group">
  <!--  <li routerLink="home" class="list-group-item">Home Page</li>

  <li routerLink="about" class="list-group-item">About Page</li>

  <li routerLink="contact" class="list-group-item">contact Page</li>-->

  <li routerLink="countries/by-capital" class="list-group-item">por capital</li>

  <li routerLink="countries/by-country" class="list-group-item">por pais</li>

  <li routerLink="countries/by-region" class="list-group-item">por region</li>
</ul>
